# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Generated datasets
*_features.csv
*_features.parquet
Gold 2021 - 2025/XAUUSD_5m_2021-2025.xlsx
